<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= render 'layouts/meta_tags' %>
  </head>

  <body class="font-ubuntu">
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
